@tailwind base;
@tailwind components;
@tailwind utilities;

html,
main,
body {
  background: linear-gradient(180deg, #0095C0 0%, #00CBE8 100%);
}

h3,
p {
font-family: 'Ubuntu', sans-serif;
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

h1 {
  line-height: normal;
  font-size: 140px;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke: 4px white;
}